<div>
  <h1>Esto es el dashBoard de ADMIN</h1>
  <p>Hola, {{user.name}}</p>
  <br />
  <p> Profile-dashBoard: <a href="/users">Ingresa</a></p>
  <p> <a href="/api/sessions/logout">Logout</a></p>
</div>
<script src="/js/admin.js"></script>